CHANGELOG.md
composer.json
composer.lock
COPYING.txt
grunt-config.json.sample
Gruntfile.js.sample
LICENSE.txt
LICENSE_AFL.txt
nginx.conf.sample
package.json.sample
SECURITY.md
.editorconfig
.htaccess
.htaccess.sample
.php-cs-fixer.dist.php
.user.ini

app
bin
dev
generated
lib
phpserver
pub
setup
var
vendor

pwa/.idea
pwa/.vscode
pwa/coverage
pwa/node_modules
pwa/storybook-dist
pwa/test-results
pwa/dist
pwa/.DS_Store
pwa/.env
pwa/build-stats.json
pwa/npm-debug.log
pwa/merged-schema*.json
pwa/test-report.xml
pwa/test-results.json
pwa/yarn-error.log
pwa/template.generated.html
